body {
    background-color:#380456;
}

.title {
    color:white;
    font-family:"Permanent Marker", cursive;
}

p, a {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

a:hover {
    color:#AB2754;
}

.source {
    color:#3CA59D;
}